/* Estilos del componente Lista populares del home */
.popular-listas {
   margin: 50px 0;
}

.popular-listas-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.popular-listas-header h2 {
   font-size: 24px;
   font-weight: bold;
}

.show-all {
   color: #b3b3b3;
   text-decoration: none;
}

.show-all:hover {
   text-decoration: underline;
}

/* listas de musica */
.lista-grid {
   display: grid;
   grid-template-columns: repeat(6, minmax(130px, 1fr));
   gap: 20px;
}

.lista-item {
   text-align: left;
   max-width: 100%;
   margin: 0 auto;
}

.lista-cover {
   width: 100%;
   aspect-ratio: 1 / 1;
   object-fit: cover;
   border-radius: 4px;
   margin-bottom: 8px;
}

.lista-title {
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 4px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.lista-descripcion {
   font-size: 12px;
   color: #b3b3b3;
}

/* Media querys 1024px*/
@media (max-width: 1024px) {
   .lista-grid {
      grid-template-columns: repeat(3, minmax(150px, 1fr));
   }
}

/* Media querys 768px*/
@media (max-width: 768px) {
   .lista-grid {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
   }
}

/* Media querys 375px*/
@media (max-width: 415px) {
   .lista-grid {
      grid-template-columns: 1fr;
   }
   .lista-item {
      margin-bottom: 2rem;
   }
   .lista-cover {
      width: 79vw;
   }
   .popular-listas-header {
      padding: 0 1.3rem;
   }
}
